.chat-main
  .chat-main__group-info
    .chat-main__group-info__name
      .chat-main__group-info__name-current
        test
      %ul.chat-main__group-info__name-member
        member:
        %li
          .chat-main__group-info__name-member-list
            masa
    = link_to "#", class: "chat-main__group-info__edit-btn" do
      Edit
  .chat-main__message-list
  .chat-main__message-form 