.side-bar
  .side-bar__user
    .side-bar__user__box
      .side-bar__user__box__name
        masa
      %ul.side-bar__user__box__icons
        %li<
          .side-bar__user__box__icons__new-g
            = link_to "#" do
              %i.far.fa-edit
        %li<
          .side-bar__user__box__icons__edit-u
            = link_to "#" do
              %i.fas.fa-cog
  .side-bar__groups
    .side-bar__groups__group
      .side-bar__groups__group__group-name
        techcamp
      .side-bar__groups__group__latest-message
        まだメッセージはありません